@use "../../../styles/constants/" as c;

// main {
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: c.$C_INDIGO;
// }

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 34px;
    border: none;
    color: white;
    background: c.$C_PURPLE;
    border-radius: 10px;
    cursor: pointer;
    margin: 8px;

    &:hover {
        background-color: rgb(126, 44, 199, 0.8);
    }

    &.secondary {
        color: c.$C_BLACK;
        background: white;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }

    &.pink {
        color: white;
        background: c.$C_PINK;

        &:hover {
            background-color: rgba(233, 30, 99, 0.8);
        }
    }

    &.yellow {
        color: c.$C_BLACK;
        background: c.$C_YELLOW;

        &:hover {
            background-color: rgba(243, 198, 35, 0.8);
        }
    }

    &.indigo {
        padding: 18px 62px;
        background-color: c.$C_INDIGO;

        &:hover {
            background-color: rgb(1, 2, 38, 0.8);
        }
    }

    &.login {
        padding: 16px 128px;
    }

    &.selectTag {
        padding: 8px 14px;
        background-color: c.$C_DARKGRAY;

        &:hover {
            background-color: rgb(115, 115, 115, 0.8);
        }
        &:focus-within {
            background-color: c.$C_PURPLE;
        }
    }

    &.miniTag {
        padding: 8px 14px;
        border-radius: 12px;
        cursor: default;

        &:hover {
            background-color: c.$C_PURPLE;
        }
    }
}
