@use "../../../styles/constants" as c;
@use "../../../styles/mixins" as m;



.button {
  @include m.flex();
  padding: 6px 34px;
  margin-left: 8px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;

  &.primary {
    color: c.$C_WHITE;
    background: c.$C_PURPLE;

    &:hover {
      background-color: c.$C_PURPLE_80;
    }
  }

  &.secondary {
    color: c.$C_BLACK;
    background: c.$C_WHITE;

    &:hover {
      background-color: c.$C_WHITE_80;
    }
  }

  &.danger {
    color: c.$C_WHITE;
    background: c.$C_PINK;

    &:hover {
      background-color: c.$C_PINK_80;
    }
  }

  &.warning {
    color: c.$C_BLACK;
    background: c.$C_YELLOW;

    &:hover {
      background-color: c.$C_YELLOW_80;
    }
  }

  &.dark {
    padding: 18px 62px;
    color: c.$C_WHITE;
    background-color: c.$C_INDIGO;

    &:hover {
      background-color: c.$C_INDIGO_80;
    }
  }

  &.login {
    padding: 16px 128px;
  }
  // 로그인 버튼 없애기
}
