@use "../../../styles/constants/colors" as c;
@use "../../../styles/mixins/" as m;

.star {
  @include m.flex(null, null, row);
  column-gap: 2px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.full {
  cursor: pointer;
  size: 18px;
}

.empty {
  position: absolute;
  top: 0;
  left: 0;
}

.half {
  position: absolute;
  top: 0;
  left: 0;
}

> input:not(:checked) + svg {
  display: none;
}
