@use "../../../styles/constants/colors" as c;
@use "../../../styles/mixins/" as m;

.starContainer {
  @include m.flex(null, null, row);
  column-gap: 2px;
  border: 0;
  cursor: pointer;
  position: relative;

  input {
    display: none;
  }

  .star {
    cursor: pointer;
    transition: color 200ms;
    size: 18px;
    color: #f3c623;
  }
}
