@use "../../../styles/constants/colors" as c;
@use "../../../styles/mixins/" as m;

.starContainer {
  @include m.flex(null, null, row);
  column-gap: 16px;
  position: relative;
  border: 0;
  cursor: pointer;

  input {
    display: none;
  }

  .starWrapper {
    @include m.flex(flex-start);
    position: relative;
  }

  .star {
    width: 44px;
    height: 60px;
    overflow-x: hidden;
    cursor: pointer;

    > svg {
      position: absolute;
      width: 60px;
      height: 60px;
      transition: color 200ms;
      color: #f3c623;
    }

    &.right {
      position: absolute;
      right: -15px;
      transform: scaleX(-1);
    }
  }
}
