@use "../../../styles/constants" as c;
@use "../../../styles/mixins/" as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);
  width: 1200px;
  height: 100%;
  padding: 32px 32px;
  margin-top: 20px;
  border-radius: 4px;
  background-color: c.$C_WHITE_10;
  // margin-top: -52px;
  // padding: 20px;
}
