@use "../../../styles/constants/colors" as c;

.label {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  color: white;
  font-size: 24px;

  // wrapper의 width만큼 늘어나도록
  .input {
    width: 100%;
    padding: 16px 20px;
    margin: 4px 0px;
    border: none;
    border-radius: 10px;
    background-color: c.$C_WHITE_40;
    font-size: 24px;
    color: c.$C_WHITE;

    &::placeholder {
      font-size: 24px;
      color: c.$C_WHITE;
    }
  }
}
