@use "../../../../../styles/constants/colors" as c;
@use "../../../../../styles/mixins/" as m;

.wrapper {
  @include m.flex(space-between, null, column);
  row-gap: 10px;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: c.$C_INDIGO;
  cursor: pointer;

  .userScore {
    @include m.flex();
    font-size: 14px;
    line-height: 1.2;

    .star {
      width: 14px;
      height: 14px;
      margin: 0 6px;
      color: c.$C_YELLOW;
    }

    > span {
      color: c.$C_YELLOW;
    }
  }
}
