@use "../../../../../../../styles/constants/colors" as c;
@use "../../../../../../../styles/mixins/" as m;

.wrapper {
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid c.$C_DARKGRAY_80;
  border-bottom: 1px solid c.$C_DARKGRAY_80;

  .content {
    min-height: 170px;
    color: c.$C_WHITE;
    font-size: 16px;
    font-weight: 400px;
  }

  .btnWrapper {
    @include m.flex(flex-end, center, row);
    column-gap: 16px;

    .modifyBtn,
    .deleteBtn {
      border: 0;
      background-color: transparent;

      .iconModify,
      .iconDelete {
        width: 23px;
        height: 23px;
        color: c.$C_DARKGRAY_80;

        &:hover {
          color: c.$C_LIGHTGRAY;
        }
      }
    }
  }
}
