@use "../../../../../../styles/constants/colors" as c;

.likeCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  border: 0px;
  background-color: transparent;
  color: c.$C_WHITE;
  font-size: 14px;
  font-weight: 400;
}

> button:disabled {
  visibility: hidden;
}

.icon {
  position: relative;
  border: 0px;
  background-color: transparent;
}

.Empty {
  cursor: pointer;
  transition: transform;
  position: absolute;
  top: 0;
  left: 0;
}
