$C_BLACK: #000000;

$C_PURPLE: #7e2cc7;

$C_PINK: #e91e63;

$C_DARKGRAY: #737373;

$C_INDIGO: #010226;

$C_BLACK_40: rgba(0, 0, 0, 0.4);

$C_WHITE_50: rgba(255, 255, 255, 0.5);

$C_WHITE_40: rgba(255, 255, 255, 0.4);

$C_WHITE_10: rgba(255, 255, 255, 0.1);

$C_WHITE: #fff;
