@use "../../../styles/constants" as c;
@use "../../../styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, center, column);
  row-gap: 20px;

  > h1 {
    width: 100%;
    text-align: left;
    font: {
      size: 36px;
      weight: 700;
    }
  }

  // .searchWrapper {
  // @include m.flex(flex-start, null, row);
  // column-gap: 10px;
  // }
  .deleteWrapper {
    @include m.flex(flex-end, center, row);
    width: 100%;
    padding: 0px 16px;
  }
  .deleteButton {
    @include m.flex(flex-start);
  }
}
