@use "../../../styles/constants/colors" as c;
@use "../../../styles/mixins/" as m;

.backgroundWrapper {
  @include m.flex();
  width: 100%;
  height: 600px;
  filter: blur(5px);

  .backgroundGradient {
    content: "";
    position: absolute;
    bottom: -6px;
    width: 110%;
    height: 40%;
    background: c.$C_INDIGO_GRADIENT;
  }

  .backgroundImg {
    width: 100%;
    height: 100%;
    transform: scale(1.01);
    object-fit: cover;
    object-position: center center;
  }
}

.wrapper {
  @include m.flex(center, center, column);
  position: relative;
  width: 100%;
  margin-top: -120px;
  margin-bottom: 70px;

  .infoWrapper {
    @include m.flex(space-between);
    width: 46%;
    min-width: 700px;
    padding-bottom: 20px;
    border-bottom: 1px solid c.$C_DARKGRAY;

    .title {
      &:hover {
        cursor: pointer;
      }

      > h1 {
        padding-right: 24px;
        font-size: 36px;
        font-weight: 700;
      }
    }

    .info {
      @include m.flex(center, flex-end, row);
      flex-shrink: 0;
      height: 36px;
      font-size: 14px;
      font-weight: 400;

      > p:not(:first-child)::before {
        content: "|";
        margin: 0 10px;
        color: c.$C_WHITE;
      }
    }
  }

  .detailInfoWrapper {
    @include m.flex(flex-start, center, column);
    flex-grow: 1;
    width: 46%;
    min-width: 700px;
    height: fit-content;
    padding: 36px;
    margin-top: 20px;
    border-radius: 4px;
    background-color: c.$C_WHITE_10;

    .commentWrapper {
      width: 100%;

      > h2 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 34px;
      }

      .innerWrapper {
        width: 100%;
        height: 100%;
        padding: 30px;
        border-radius: 10px;
        background-color: c.$C_INDIGO;

        .commentSection {
          margin: -20px;
        }

        .replyInputSection {
          width: 100%;
          height: 100%;
          padding-top: 14px;
          padding-bottom: 6px;
          margin-top: 14px;
          margin-bottom: 22px;
          border-top: 1px solid c.$C_DARKGRAY_80;
          border-bottom: 1px solid c.$C_DARKGRAY_80;

          .profileWrapper {
            @include m.flex(space-between);

            .profile {
              @include m.flex();

              .profileImage {
                width: 40px;
                margin-right: 12px;
                cursor: pointer;
              }

              .username {
                font-size: 18px;
                font-weight: 700;
              }
            }
          }

          .replyInput {
            width: 100%;
            height: 160px;
            padding: 16px;
            margin: 12px 0;
            border-radius: 10px;
            background-color: c.$C_WHITE_40;

            &::placeholder {
              color: c.$C_WHITE_70;
            }
          }
        }
        .replyWrapper {
          @include m.flex(center, center, column);

          .reply {
            width: 100%;
            margin-bottom: 18px;
          }
        }
      }
    }
  }
}

svg {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
