@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-ExtraBold.otf") format("opentype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-Bold.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-SemiBold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
