@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.wrapper {
  //@include m.flex();
  width: 100vw;
  min-height: 100vh;
  padding-bottom : 100px;
  overflow: auto;

  .listWrapper {
    width: 100vw;
    padding: 0px 300px; // <--- 약간 어거지로 맞춤..ㅜ

    .mainTitle {
      width: inherit;
      padding: 80px 0 10px 12px;
      font-weight: 700;
      font-size: 30px;
    }

    .mainMore {
      @include m.flex(space-around);
      font : {
        size: 18px;
        weight: 500;
      }
      text-decoration: none;
      cursor: pointer;
    }
  }

  .bgWrapper {
    @include m.flex(left);
    width: 100%;
    min-height: 750px;
    object-fit: contain;
    background: linear-gradient(
        c.$C_TRANSPARENT,
        c.$C_INDIGO_30,
        c.$C_INDIGO_30,
        c.$C_INDIGO
      ),
      url("https://t1.daumcdn.net/movie/41172a2470f7122450d5d0932550daae5dc6f7b2");

    background: {
      size: cover;
      position: 10% 10%;
      repeat: no-repeat;
    }
  }

  .textWrapper {
    padding: 160px 0 0 160px;

    > h1 {
      padding-bottom: 22px;
      font-weight: 800;
      font-size: 72px;
      text-shadow: 2px 2px 4px c.$C_BLACK_40;
    }

    > p {
      padding-left: 10px;
      font-size: 24px;

      > span {
        padding: 10px;
        color: c.$C_YELLOW;

        > svg {
          height: 16px;
        }
      }
    }

    .plot {
      @include m.multiEllipsis(16px, 18px, 3);
      width: 500px;
      margin: 20px 0px;
    }

    .btnStyle {
      margin: 50px 0px 0px 8px;
    }
  }
}
