@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.wrapper {
  @include m.flex();
  width: 100%;
  min-height: 100vh;
  overflow: auto;

  .mainTitle {
    padding: 50px 0 0 18px;
    font-weight: 700;
    font-size: 30px;
  }
  .listWrapper {
    padding: 0 10rem 12rem 10rem;
  }
}

.bgWrapper {
  width: 100%;
  min-height: 800px;
  background-image: url("https://t1.daumcdn.net/movie/b660a635fa94630561b78d0fe37c72a2982c49b2");
  background-position: 20% 70%;
  //background-size: cover;
  object-fit: contain;
  background-color: c.$C_INDIGO;
  padding-bottom: 2rem;

  .textWrapper {
    @include m.flex(left);
    padding: 390px 0 0 160px;

    > h4 {
      font-weight: 800;
      font-size: 68px;
      text-shadow: 2px 2px 4px c.$C_BLACK_40;
    }
  }
}
