@use "../../../../../../styles/constants/colors" as c;
@use "../../../../../../styles/mixins/" as m;

.wrapper {
  @include m.flex(space-between, center, row);

  .count {
    @include m.flex(null, center, row);
    column-gap: 10px;
  }

  .date {
    @include m.flex(flex-end, null, null);
    color: c.$C_DARKGRAY;
    font-size: 14px;
    font-weight: 400;
  }
}
