@use "../../../../styles/constants" as c;
@use "../../../../styles/mixins/" as m;

.wrapper {
  width: 100%;
  padding-top: 12px;
  height: 540px;
  > h2 {
    padding: 24px 0;
    border-top: 1px solid c.$C_DARKGRAY;
    font-size: 24px;
    font-weight: 700;
  }

  .listWrapper {
    @include m.flex(flex-start);
    flex-wrap: nowrap;
    gap: 16px;
    padding-bottom: 16px;
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: block;
    }

    &::-webkit-scrollbar-thumb {
      width: 8%;
      background-color: c.$C_DARKGRAY;
      border-radius: 5px;
    }

    .card {
      .cardImg {
        width: 260px;
        border-radius: 6px;
      }
    }
  }
}
