@use "../../../../styles/constants" as c;
@use "../../../../styles/mixins/" as m;

.wrapper {
  width: 100%;
  padding-top: 12px;
  max-height: 600px;
  > h2 {
    padding: 24px 0;
    border-top: 1px solid c.$C_DARKGRAY;
    font-size: 24px;
    font-weight: 700;
  }

  .grid {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 70px;
    overflow-x: auto;

    justify-content: flex-start;
    align-items: center;
    scroll-snap-type: x mandatory;
    .card {
      // width: 260px;
      // width: 100%;
      .cardImg {
        width: 260px;
        border-radius: 6px;
      }
    }
  }
}
