@use "../../../../styles/constants/colors" as c;
@use "../../../../styles/mixins/" as m;

.wrapper {
  margin: 100px;
  padding: 40px;
  width: 950px;
  height: 1734px;
  background-color: c.$C_WHITE_40;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;

  .commentDetail {
    margin: 400px;
    width: 868px;
    height: 1540px;
    background-color: c.$C_INDIGO;
    border-radius: 4px;
    justify-content: flex-start;
    align-items: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .commentOutput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .comment {
    @include m.flex(null, center, row);
    column-gap: 4px;
    border: 0px;
    background-color: transparent;
    color: c.$C_WHITE;
    font-size: 14px;
    font-weight: 400;
  }

  .horizontalLine {
    width: 100%;
    border: 1px solid c.$C_DARKGRAY;
  }
}
