@use "../../../../../../../styles/constants/colors" as c;

.commentCount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4px;
  border: 0px;
  background-color: transparent;
  color: c.$C_WHITE;
  font-size: 14px;
  font-weight: 400;
}
