@use "../../../../styles/constants" as c;
@use "../../../../styles/mixins/" as m;

.boUserModal {
  position: relative;
  width: 600px;
  height: 740px;
  padding: 70px;
}

.wrapper {
  height: 100%;
  display: block;
  position: relative;
  animation: fadeIn 0.5s ease-in-out forwards;
  
  .profileWrapper {
    @include m.flex(space-between);
    
    > figure {
      @include m.flex(center, center, column);
      row-gap: 18px;
    }
    .count {
      @include m.flex(space-between, center);
      width: 100px;
      padding: 4px 32px;
      font-size: 16px;
      background-color: c.$C_WHITE_10;
      border-radius: 10px;

      > svg {
        width: 18px;
      }
    }

    .profileImage {
      width: 140px;
    }
  }

  .content {
    >h4 {
      font-size : 20px;
      padding-bottom: 4px;
    }
  }

  .buttonWrapper {
    @include m.flex(flex-end);
    position: absolute;
    column-gap: 12px;
    bottom: 0px;
    right: 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}