@use "../../../styles/constants" as c;
@use "../../../styles/mixins" as m;

.wrapper {
  @include m.flex(center, center, column);
  margin: 100px;

  .title {
    width: 100%;
    margin-bottom: 32px;
    text-align: left;
    font-size: 36px;
    font-weight: 700;

    > span {
      color: c.$C_YELLOW;
    }
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    //gap: 16px;
    width: 980px;

    img {
      width: 178px;
      height: 254px;
      border-radius: 10px;
    }
    
    h2 {
      width: 178px;
    }

    > li {
      margin-left: -4px;
      margin-bottom: 48px;
    }
  }
}