@use "../../../styles/constants" as c;
@use "../../../styles/mixins" as m;

.wrapper {
    @include m.flex(space-between);
    width: 100%;
    height: 100vh;

    > article:first-of-type {
        width: 60vw;
        height: 100vh;
        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > article:last-of-type {
        @include m.flex(center, center, column);
        width: 40vw;
        height: 100vh;

        > img {
            margin-bottom: 60px;
            cursor: pointer;
        }

        > form {
            width: 60%;

            > p {
                color: c.$C_WHITE_60;
                font-size: 14px;
                text-align: center;
                cursor: pointer;
            }

            > button {
                width: 100%;
                padding: 16px 0;
                margin-top: 90px;
                font-size: 16px;
            }
        }
    }
}
