@use "../../../styles/constants" as c;
@use "../../../styles/mixins" as m;

section {
  .wrapper {
    @include m.flex(center, flex-end, column);
    position: relative;
    width: 460px;
    padding: 80px 20px 80px 80px;
    row-gap: 46px;
    border-right: 1px solid c.$C_WHITE;

    .title {
      padding: 20px 50px;
      font-size: 36px;
      color: c.$C_WHITE;
    }

    .navWrapper {
      height: 500px;
    }

    .navMenu {
      padding: 30px 50px;
      font-size: 24px;
      color: c.$C_WHITE;
      text-decoration: none;

      &:hover {
        font-weight: 700;
        color: c.$C_YELLOW;
      }

      &.selected {
        font-weight: 700;
        color: c.$C_YELLOW;

        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 40px;
          background-image: url("../../../assets/icon/LNBstar.png");
          background-size: 40px 40px;
          vertical-align: middle;
          right: -20px;
          transform: translateY(-8px);
        }
      }

      &:focus {
        font-weight: 700;
        color: c.$C_YELLOW;
      }
    }

    .li {
      color: c.$C_WHITE;
    }
  }
}
