@use "../../../../styles/constants" as c;
@use "../../../../styles/mixins/" as m;

.reportContent {
  color: c.$C_WHITE_40;
  font-size: 16px;
  padding-bottom: 4px;
}

.comment {
  background-color: c.$C_WHITE_10;
  padding: 40px;
  margin-top: 65px;
  border-radius: 8px;
  font-size: 18px;
  animation: fadeIn 0.5s ease-in-out forwards;

  .userInfo {
    @include m.flex(space-between);
    border-bottom: 1px solid c.$C_WHITE_40;
    padding-bottom: 12px;
    
    > div {
      @include m.flex(flex-start);

      > p {
        margin-left: 15px;
        font-weight: 700;
      }
    }

    .profileImage {
      width: 40px;
    }
  }

  .score {
    font-size: 16px;
    color: c.$C_YELLOW;
  }

  .content {
    margin-top: 24px;
    border-bottom: 1px solid c.$C_WHITE_40;
    padding-bottom: 12px;
  }

  .footer {
    @include m.flex(space-between);
    font-size: 16px;
    margin-top: 24px;
  }
}

.buttonWrapper {
  @include m.flex(flex-end);
  margin-right: 24px;
  position: absolute;
  bottom: 40px;
  column-gap: 12px;
  right: 20px;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
