@use "../../styles/constants/" as c;
@use "../../styles/mixins/" as m;

.searchWrapper {
    @include m.flex(left);
    width: 100%;
    min-height: 100vh;
    padding-top: 160px;
    //overflow: auto;

    .searchTitle {
        padding-left: 8rem;
        font-weight: 700;
        font-size: 30px;

        .strongWord {
            color: c.$C_YELLOW;
            padding: 0 2px;
        }
    }
    
    .resultStyle {
        @include m.flex(row);
        flex-wrap: wrap;
        padding: 2rem 12rem;
    
        .resultCard {
            padding :14px;
        }
    }
    
}

.helpWrapper {
    padding: 2rem 8rem 14rem 8rem;

    >h4 {
        font-weight: 700;
        font-size: 20px;
        padding: 50px 0 20px 0;
    }

    >ul {
        font-size: 16px;

        >li {
            padding-bottom: 5px;
            &::before {
                content : '⋆ ';
            }
        }

        .emailStyle {
            padding-top: 20px;
        }
    }
}



// .body {
//     @include m.flex();
//     width: 100%;
//     height: 100vh;
// }

// .noMovieInfo {
// }
