@use "../../../../../../../styles/constants/colors" as c;
@use "../../../../../../../styles/mixins/" as m;

.likeCount {
  @include m.flex(null, center, row);
  column-gap: 4px;
  border: 0px;
  background-color: transparent;
  color: c.$C_WHITE;
  font-size: 14px;
  font-weight: 400;

  .icon {
    position: relative;
    border: 0px;
    background-color: transparent;

    .full {
      visibility: hidden;
    }
    .empty {
      transition: transform;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
