@use "../../../../styles/constants/colors" as c;
@use "../../../../styles/mixins/" as m;

.boMovieModal {
  position: fixed;
  width: 640px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .wrapper {
    @include m.flex(flex-start, center, column);
    row-gap: 10px;
    width: 540px;
    height: 510px;
    background-color: c.$C_INDIGO;
    font-weight: 400;
    font-size: 14px;
    animation: fadeIn 0.5s ease-in-out forwards;

    .postWrapper {
      @include m.flex(null, null, row);
      column-gap: 10px;

      .content {
        @include m.flex(null, null, column);
        row-gap: 8px;
        flex-wrap: wrap;

        .movieTitle {
          //NOTE: font-size는 좀 더 컸으면 좋을 것 같다.
          font-size: 16px;

          font-weight: 700;
        }

        .contentInfo {
          @include m.flex(null, null, row);
          column-gap: 5px;
          font-weight: 400;
          font-size: 14px;
        }
      }
      .likeButton {
        @include m.flex(null, center, row);
        column-gap: 5px;
        & .IconHeart {
          width: 15px;
          height: 15px;
          font-weight: 400;
          font-size: 14px;
        }
      }

      .averageScore {
        @include m.flex(null, center, row);
        column-gap: 5px;
        .IconStar {
          width: 15px;
          height: 15px;
          font-weight: 400;
          font-size: 14px;
        }
      }

      .plot {
        flex-wrap: wrap;
      }
    }
  }

  .buttonWrapper {
    @include m.flex(flex-end, center, row);
    //NOTE: 버튼 바닥에 고정
    position: fixed;
    bottom: 20px;
    column-gap: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
