@use "../../../styles/constants/" as c;
@use "../../../styles/mixins/" as m;

table {
  @include m.flex(left, space-between, column);
  @include m.ellipse();
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  tbody {
    font-size: 16px;
  }

  tr {
    @include m.flex(left);
    height: auto;
    padding: 8px 12px 8px 0px;
    border: 2px solid c.$C_INDIGO;
    border-radius: 10px;
    overflow: hidden;
  }

  td, th {
    @include m.flex();
    min-width: 140px;
    
    &:first-child {
      min-width: 50px;
    }
}

  .headTrStyle {
    background-color: c.$C_WHITE_40;
    font: {
      weight: 700;
      size: 16px;
    }
  }

  .bodyTrStyle {
    background-color: c.$C_WHITE_10;

    &.isSelected {
      background-color: c.$C_WHITE_50;
    }
  }

    svg {
      height : 12px;
      width: 12px;
    }
  }

