@use "../../../styles/constants/" as c;
@use "../../../styles/mixins/" as m;

table {
  @include m.flex(flex-start, space-between, column);
  @include m.ellipse();
  width: 100%;
  row-gap: 10px;
  border-collapse: separate;
  border-spacing: 0;

  tbody {
    font-size: 16px;
  }

  tr {
    @include m.flex(left);
    height: auto;
    padding: 8px 12px 8px 0px;
    border: 2px solid c.$C_INDIGO;
    border-radius: 10px;
    overflow: hidden;
  }

  td,
  th {
    @include m.flex();
    min-width: 140px;

    &:first-child {
      min-width: 50px;
    }
  }

  .headTrStyle {
    background-color: c.$C_WHITE_40;
    column-gap: 10px;
    font: {
      weight: 700;
      size: 20px;
    }
  }

  .bodyTrStyle {
    background-color: c.$C_WHITE_10;
    //NOTE: column-gap을 통해서 너비 조절
    column-gap: 10px;
    font: {
      weight: 400;
      size: 16px;
    }

    > td {
      //NOTE:  ellipsis 사용을 위해서는 block 요소여야 합니다.
      display: inline-block;
      max-width: 140px;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &.isSelected {
      background-color: c.$C_WHITE_50;
    }
  }

  svg {
    height: 12px;
    width: 12px;
  }
}
