@use "../../../styles/constants/" as c;
@use "../../../styles/mixins/" as m;

.wrapper {
  padding: 100px 100px;
  width: 100%;

  .header {
    width: 100%;

    .titleWrapper {
      @include m.flex(row);
      .title {
        font : {
          size: 36px;
          weight: 700;
        }
        color: c.$C_WHITE;
      }

      > button {
        margin-left: 12px;
        padding: 6px 12px;
        border-radius: 12px;

        &.isPublic {
          background-color: c.$C_DARKGRAY;
        }
      }
    }

    .subTitle {
      padding-top: 12px;

      font : {
        size: 20px;
        weight: 400;
      }
    }
  }

  .myInfo {
    @include m.flex(left);
    width: 50vw;
    padding: 40px 0px 20px 0px;

    > h4 {
      padding-left: 20px;
      font : {
        weight: 600;
        size: 24px;
      }
    }
    .profileImg {
      height: 50px;
      width: 50px;
      cursor: pointer;
    }
  }
}

.introWrapper {
  //vertical-align: middle;

  .introText {
    @include m.flex(center);
    flex-shrink: 0;
    width: 980px;
    margin-bottom: 50px;
    padding: 10px;
    font-size: 16px;
    background-color: c.$C_WHITE_10;
    //border-radius: 10px;
  }
}

.ratedMovie {
  @include m.flex(left);
  flex-shrink: 0;
  padding-bottom: 20px;
  
  > h1 {
    //padding-right: 50rem;
    font : {
      size: 24px;
      weight: 700;
    }
  }
  
}

h6 {
  @include m.flex(right);
  flex-shrink: 0;
  width: 980px;
  cursor: pointer;
}

.cardList {
  @include m.flex(left);
  flex-shrink: 0;
  height: 80%;
  width: 980px;
  padding-bottom: 20px;
}

.checkInfo {
  @include m.flex(left);
  width: 1300px;
  flex-shrink: 0;
  padding-top: 45px;

  > h5 {
    padding: 0px 595px 0px 8px;
  }

  > button {
    margin-left: 10px;
    font-size: 16px;
  }
}

.checkbox {
  padding-top: 10px;

  > svg {
    width: 14px !important;
    height: 14px !important;
  }
}
