@use "../../../../styles/constants/colors" as c;
@use "../../../../styles/mixins/" as m;

.wrapper {
  @include m.flex(center, flex-start, column);
  width: 100%;

  > h2 {
    font-size: 24;
    font-weight: 700;
    margin-bottom: 34px;
  }
  .innerWrapper {
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
    background-color: c.$C_INDIGO;

    .commentWrapper {
      width: 100%;
    }

    .replyInputWrapper {
      @include m.flex(center, flex-start, column);
      width: 100%;
      height: 100%;

      .replyInput {
        width: 100%;
        height: 160px;
        padding: 16px;
        border-radius: 10px;
        background-color: c.$C_WHITE_40;

        &::placeholder {
          color: c.$C_WHITE_70;
        }
      }
    }
  }
}
