@use "../../../styles/constants/" as c;
@use "../../../styles/mixins/" as m;

.wrapper {
  padding: 100px 100px;

  .header {
    width: 100%;
    padding-bottom: 140px;

    .titleWrapper {
      @include m.flex(row);

      .title {
        font : {
          size: 36px;
          weight: 700;
        }
        color: c.$C_WHITE;
      }
    }

    .subTitle {
      padding-top: 12px;

      font : {
        size: 20px;
        weight: 400;
      }
    }
  }

/*
 <<<<<<< KNI
  .info {
    @include m.flex();
    width: 50vw;

    .image {
      @include m.flex(center, center, column);
      padding-right: 200px;

      > h5 {
        padding-top: 20px;
      }
    }

    .infoInput {
      width: 55%;
      padding: 0px 20px;

      > input {
        margin-top: 10px;
      }
    }
  }

  .deleteUser {
    @include m.flex(flex-end);
    padding-top: -20px;
    padding-right: 40px;
    color: c.$C_PINK;
  }

  .btn {
    @include m.flex(flex-end);
    padding-top: 70px;
    margin-right: 40px;


    > button {
      margin-left: 10px;
      font-size: 16px;
=======
*/
  .section {
    margin-top: 60px;
    width: 100%;

    .upper {
      @include m.flex(space-between);

      .imgWrapper {
        @include m.flex(center, center, column);
        margin-right: 100px;

        > img {
          margin-bottom: 36px;
          cursor: pointer;
        }

        > p {
          cursor: pointer;
        }

        font : {
          size: 14px;
        }
        color: c.$C_WHITE_70;
      }

      .infoWrapper {
        > div {

          > label {
            @include m.flex();
            font-size: 24px;

            p {
              width: 200px;
            }
          }

          > .inputText {
            width: 662px;
          }
        }
      }
    }

    .bottom {
      > p {
        @include m.flex(flex-end);
        color: c.$C_PINK_80;
        cursor: pointer;
      }

      > .btns {
        @include m.flex(flex-end);
        margin-top: 35px;

        > button {
          margin-left: 10px;
        }
      }
    }
  }
}
