@use "../../../styles/constants" as c;
@use "../../../styles/mixins" as m;

.wrapper {
  position: relative;

  &:hover {
    > .info {
      height: 204px;
      transform: translateY();

      > .tags {
        @include m.flex(flex-start, flex-start, row);
      }
    }
  }

  > img {
    width: 330px;
    height: 495px;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 10px;
  }

  > .info {
    //visibility: hidden; // 이걸 써야 안 보이게 했다가 보이게 만들 수 있는데 문제점: 애니메이션이 끊김
    position: absolute;
    left: 0;
    bottom: 0;
    @include m.flex(flex-start, flex-start, column);
    width: 330px;
    height: 0px;
    transition: height 0.4s linear;
    padding: 20px;
    margin-left: 10px;
    border-radius: 0px 0px 10px 10px;
    background-color: c.$C_INDIGO_90;

    > .title {
      @include m.flex(space-between, flex-end, row);
      width: 100%;
      > h3 {
        max-width: 206px;
        @include m.ellipse();
        font-size: 36px;
        font-weight: 700;
      }

      > .detail {
        @include m.flex();
        color: c.$C_WHITE_40;
        font-size: 14px;

        > p:first-of-type {
          padding: 2px 2px 1px 1px; // 이렇게 해야 맞게 됨 (뭐임?)
          margin-right: 8px;
          border-radius: 2px;
          background-color: c.$C_WHITE_40;
          color: c.$C_INDIGO;
        }
      }
    }

    > .tags {
      @include m.flex();
      gap: 6px;
      margin: 8px 0px 44px 0px;

      > button {
        padding: 2px 8px;
        font-size: 12px;
        font-weight: 300;
      }
    }

    > p {
      @include m.multiEllipsis(16px, 20px, 3);
      color: c.$C_WHITE_70;
      font-weight: 300;
      text-align: justify;
    }
  }
}