@use "../../../../styles/constants" as c;
@use "../../../../styles/mixins" as m;

.tag {
  @include m.flex();
  padding: 8px 14px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  color: c.$C_WHITE;
  background-color: c.$C_DARKGRAY;
  cursor: pointer;

  &:hover {
    background-color: c.$C_DARKGRAY_80;
  }
  
  &.isActive {
    border-radius: 10px;
    color: c.$C_WHITE;
    background-color: c.$C_PURPLE;
    cursor: pointer;
  }
}
